@import 'src/assets/styles/abstracts/mixins.scss';
@import 'include-media';

.filters-wrapper {
  box-sizing: border-box;
  border-bottom: var(--border-thin);
  padding: 20px;

  .fractions-top {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    .fractions-title {
      @include typo-font;

      font-weight: var(--weight-semibold);
    }

    .reset-filters {
      display: flex;
      align-items: center;
      color: var(--neutrals-grey-400);
      cursor: pointer;

      .reset-icon {
        margin-right: 4px;
      }

      .reset-text {
        @include typo-font-small;

        font-weight: var(--weight-medium);
      }
    }
  }

  .fractions-filter-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
  }

  .primary-filters-row {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    .primary-filters {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      @media (min-width: 768px) and (max-width: 800px) {
        flex-flow: column;
      }
    }
  }
}
